{% extends "learning_logs/base.html" %}

{% block content %}

  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    Nazwa użytkownika i hasło są nieprawidłowe. Proszę spróbować ponownie.
  </div>
  {% endif %}

  <form method="post" action="{% url 'users:register' %}" class="form">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Rejestruj</button>
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
  </form>

{% endblock content %}
